.git
.github
.env
.env.*
!.env.example
!.env.docker
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
!**/.gitignore
docker-setup.md
*.md
!README.md
.DS_Store
Thumbs.db
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
